<p> IngresaID</p>
<input type="text" [(ngModel)]="employeerId">
<button (click)="getEmployeerbyId()">Buscar</button>


<input matInput placeholder="firstname" name="name" required [(ngModel)]="employeerData.firstname">
<input matInput placeholder="lastname" name="name" required [(ngModel)]="employeerData.lastname">
<input matInput placeholder="document" name="name" required [(ngModel)]="employeerData.document">
<input matInput placeholder="email" name="name" required [(ngModel)]="employeerData.email">
<input matInput placeholder="password" name="name" required [(ngModel)]="employeerData.password">
<input matInput placeholder="posicion" name="name" required [(ngModel)]="employeerData.posicion">
<input matInput placeholder="id" name="name" required [(ngModel)]="employeerData.id">
<input matInput placeholder="number" name="name" required [(ngModel)]="employeerData.number">


<button (click)="addEmployeer()">Buscar</button>
