<app-main-nav-postulant>
<div class="account-container-header">
  <h1>MI CUENTA</h1>
</div>

<div class="account-container-content">
  <div>
    <button mat-raised-button class="mat-focus-indicator mat-button mat-button-base" [routerLink]="['/postulant/',postulantId,'modify-professional-profile']">Modificar Perfil Profesional</button>
  </div>
  <div>
    <button mat-raised-button class="mat-focus-indicator mat-button mat-button-base" [routerLink]="['/postulant/',postulantId,'modify-personal-information-postulant']">Modificar Información Personal</button>
  </div>
</div>
</app-main-nav-postulant>
