<div class="centered" >
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <div align="center"  >
    <img width="220" height="auto" src="../../../assets/images/tomarsefoto.png">
    <br/><br/>
    <mat-card class="mat-elevation-z4">Agrega un video selfie de presentación personal para
      conocer más sobre tus aptitudes y experiencia.   </mat-card>

  </div>


</div>
<br/>

<app-uploudfiles align="center" class="centered"></app-uploudfiles>
<br/><br/><br/>
<button  matStepperPrevious  mat-raised-button>Atras</button>
<button  color="primary" matStepperNext  mat-raised-button>Continuar</button>

