<app-main-nav-postulant>
<div style="text-align:center">
  <br><br>
  <h1>Postulate to {{ jobInfo.title }}!</h1>
</div>
<div  class="container col-md-12">

  <ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
    <mat-vertical-stepper class="mat-elevation-z4" #stepper linear>
      <mat-step align="center" >
        <ng-template matStepLabel>Envío de CV</ng-template>
        <app-postulation-step-one></app-postulation-step-one>
      </mat-step>
      <mat-step >
        <app-postulation-step-two></app-postulation-step-two>
        <ng-template matStepLabel>Presentación</ng-template>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirmación</ng-template>
        <app-postulation-step-tree></app-postulation-step-tree>

      </mat-step>

      <mat-step-header>
        <ng-template matStepLabel>Confirmación</ng-template>
        <app-postulation-step-tree></app-postulation-step-tree>

      </mat-step-header>
    </mat-vertical-stepper>
  </ng-template>
  <ng-template #bigScreen>
    <mat-horizontal-stepper class="mat-elevation-z4" #stepper linear>
      <mat-step align="center" >
        <ng-template matStepLabel>Envío de CV</ng-template>
        <app-postulation-step-one></app-postulation-step-one>
      </mat-step>
      <mat-step >
        <app-postulation-step-two></app-postulation-step-two>
        <ng-template matStepLabel>Presentación</ng-template>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Confirmación</ng-template>
        <app-postulation-step-tree></app-postulation-step-tree>

      </mat-step>

      <mat-step-header>
        <ng-template matStepLabel>Confirmación</ng-template>
        <app-postulation-step-tree></app-postulation-step-tree>

      </mat-step-header>
    </mat-horizontal-stepper>
  </ng-template>

</div>
</app-main-nav-postulant>
