<app-main-nav-employeer>
  <div class="profile-container-header">
    <h1>PERFIL EMPRESARIAL</h1>
  </div>
  <div class="profile-container-header">

    <div class="form-group">

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Nombre </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="nombre" [(ngModel)]="newname" placeholder="{{companyData.name}}">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Descripción </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="description" [(ngModel)]="newdescription" placeholder="{{companyData.description}}">
        </mat-form-field>
      </form>


      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Logo </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="logo" [(ngModel)]="newlogo" placeholder="{{companyData.logo}}">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> RUC </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="ruc" [(ngModel)]="newruc" placeholder="{{companyData.ruc}}">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Dirección </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="video" [(ngModel)]="newdireccion" placeholder="{{companyData.direccion}}">
        </mat-form-field>
      </form>

      <br>
    </div>
    <br><br>
    <button class="btn-option" (click)="updateCompany()"  mat-raised-button color="primary"  >Guardar cambios</button>
  </div>
</app-main-nav-employeer>

