<app-main-nav-postulant>

  <div class="profile-container-header">
    <h1>PERFIL PROFESIONAL</h1>
  </div>

  <div class="profile-container-header">

    <div class="form-group">

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Ocupación </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="ocupation" [(ngModel)]="newocupation" placeholder="{{profileData.ocupation}}">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Descripción </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="description" [(ngModel)]="newdescription" placeholder="{{profileData.description}}">
        </mat-form-field>
      </form>

      <form>
        <mat-form-field appearance="outline" class="profile-form-input">
          <mat-hint> Link de video de presentación </mat-hint>
          <input matInput matAutosizeMinRows=4 required name="video" [(ngModel)]="newvideo" placeholder="{{profileData.video}}">
        </mat-form-field>
      </form>
      <br>
    </div>
    <br><br>
    <button class="btn-option" (click)="updateProfile()" mat-raised-button color="primary"  >Guardar cambios</button>
  </div>

</app-main-nav-postulant>



