<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               mode="over">
    <div class="menu-sidenav">
      <mat-toolbar >Menu</mat-toolbar>
      <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          class="sidenav-button"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </div>
    <mat-nav-list >
      <br><br><br>


      <a mat-list-item  [routerLink]="['/postulant/',postulantId]" (click)="drawer.toggle()">Búsqueda de empleos   <span class="default-spacer"></span><mat-icon>home  </mat-icon></a>
      <a mat-list-item [routerLink]="['/postulant/', postulantId, 'postulations']" (click)="drawer.toggle()">Mis postulaciones   <span class="default-spacer"></span><mat-icon>work_outline</mat-icon></a>
      <a mat-list-item [routerLink]="['/postulant/', postulantId, 'interview']" (click)="drawer.toggle()"> Mis entrevistas <span class="default-spacer"></span> <mat-icon>work_outline</mat-icon></a>
      <a mat-list-item [routerLink]="['/postulant/', postulantId, 'myaccount']" (click)="drawer.toggle()">Mi cuenta  <span class="default-spacer"></span><mat-icon>account_circle</mat-icon> </a>
      <a mat-list-item [routerLink]="['/']" (click)="drawer.toggle()">Cerrar sesión <span class="default-spacer"></span><mat-icon>account_circle</mat-icon> </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="default-spacer"></span>
      <div class="user-icon">User</div>
      <span class="user-name">Bienvenido(a) {{postulantData.firstname}}!</span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="user-logout" [routerLink]="['/','login']">
        Log Out
      </button>


    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
