<app-main-nav-postulant>
  <div class="jobs-container-header">
    <h1>RECOMENDACIONES</h1>
  </div>
  <div align="center">
    <select name="Categorías"  (change)="onChange($event)" style="width: 200px;height: 25px; margin-bottom: 50px">
      <option disabled selected>Selecciona una categoría</option>
      <option *ngFor="let item of categories" [value]="item.id">
        {{item.name}}
      </option>
    </select>
    <button mat-raised-button color="primary" (click)="getJobsByCategoryId()" style="display: flex;justify-content: center; margin-bottom: 50px">Recommend me!</button>
    <div>
      <div class="list-jobs">
        <ul>
          <li class="job-item" *ngFor="let job of jobs" [routerLink]="['/postulant/122/joboffer',job.id]">
            <div class="job-item-text-left">
              <span>{{job.direction}}</span>
              <h2>{{job.title}}</h2>
              <span>{{job.type}}</span>
            </div>
            <div class="job-item-text-right">
              <div class="job-item-text-right-img">
              </div>
              <br>
              <span>Publicado el: {{job.begin_date_offer}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</app-main-nav-postulant>
