<div class="profile-container-header">
  <br>
  <br>
  <h1>CONTRASEÑA</h1>

</div>

<div class="profile-container-contain">
  <div class="form-group">
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Coloque su email</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="emailexist" placeholder="Email">
      </mat-form-field>
    </form>
    <form >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Coloque su contraseña</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="passwordexist" placeholder="Contraseña">
      </mat-form-field>
    </form>
    <form  >
      <mat-form-field appearance="outline" class="profile-form-input">
        <mat-hint>Coloque nueva contraseña</mat-hint>
        <input matInput matAutosizeMinRows=4 required name="name" [(ngModel)]="newpassword"   placeholder="Nueva contraseña">
      </mat-form-field>
    </form>
    </div>
<button class="btn-registrarse" (click)="getAllUsers()"  mat-raised-button color="primary"  >Guardar cambios</button>
</div>
