<div #drawer>
<div class="centered" >
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <div align="center"  >
    <img width="220" height="auto" src="../../../assets/images/curriculum.png">
    <br/><br/>
    <mat-card class="mat-elevation-z4">Adjunta tu hoja de vida detallando información
      relevante para el puesto de trabajo al que postulas</mat-card>

  </div>


</div>
<br/>

<app-uploudfiles align="center" class="centered"></app-uploudfiles>
<br/><br/><br/>
<button routerLink="/jobs" (click)="drawer.ontoggle" matStepperPrevious  mat-raised-button>Atras</button>
<button color="primary" matStepperNext  mat-raised-button>Continuar</button>
</div>
