<app-main-nav-employeer>

  <div class="body">
    <h1 class="color_titulo"> CONTRATACIÓN</h1>
    <div class="contenido texto">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a felis non sem elementum tempor in at urna. Suspendisse auctor libero ut nibh consequat sed sagittis dolor iaculis. Donec condimentum mauris nec eros auctor sed vestibulum tellus consequat. Pellentesque tincidunt hendrerit neque, tincidunt tempus mauris consequat non.</p>
      <p>Nullam interdum, enim sed ultrices sagittis, nibh tortor viverra lacus, eu tristique risus sapien et eros. Cras gravida, felis sed sagittis convallis, nulla ante vehicula justo, id imperdiet enim nisi id mauris. Nunc egestas volutpat congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vehicula purus eu enim vulputate rhoncus.</p>
    </div>

    <div class="account-container-content">
      <button class="mat-button" (click)="openDialog()">ENVIAR CONTRATO</button>
    </div>

  </div>

</app-main-nav-employeer>



