<app-main-nav-postulant>
  <div class="job-information-container">
    <div class="job-item">
      <div class="job-item-text-left">
        <span>{{jobInfo.direction}}</span>
        <h2>{{jobInfo.title}}</h2>
        <span>{{jobInfo.type}}</span>
      </div>
      <div class="job-item-text-right">
        <div class="job-item-text-right-img">
        </div>
        <br>
        <span>Publicado el: {{jobInfo.begin_date_offer}}</span>
      </div>
    </div>
    <div class="job-info">
      <h2>Detalles del aviso</h2>
      <p>{{jobInfo.description}}</p>
      <br>
      
      <div class="job-info-button">
        <button mat-button [routerLink]="['newpostulation']">POSTULARME</button>
      </div>
    </div>
  </div>
</app-main-nav-postulant>
