
<div class="centered" >
  <br/><br/>
  <div align="center"  >
    <img width="220" height="auto" src="../../../assets/images/T&C.png">
    <br/><br/>
    <mat-card class="mat-elevation-z4">Declaro que toda la información enviada es completamente verídica y acepto las consecuencias respectivas establecidas por la ley por la falsificación de las mismas de ser el caso.</mat-card>

  </div>


</div>
<br/>
<div class="check">
<mat-checkbox  >Acepto</mat-checkbox>
</div>
<br/><br/><br/>
<button  matStepperPrevious  mat-raised-button>Atras</button>
<button   (click)="AddPostulantjobs()"   color="primary" class="mat-elevation-z4" mat-raised-button>Confirmar</button>


