<app-main-nav-postulant>
    <div class="jobs-container-header">
      <h1>MIS POSTULACIONES</h1>
    </div>
    <div class="jobs-container-content">
      <div class="filter-jobs">
        <div class="filter-jobs-container">
          <h1>FILTROS</h1>
          <div class="filter-jobs-container-items">
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" class="filter-jobs-container-item">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Lugar de Trabajo
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" class="filter-jobs-container-item">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Fecha de Publicación
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" class="filter-jobs-container-item">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Experiencia Laboral
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" class="filter-jobs-container-item">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Tipo de Puesto
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
    
                 </mat-list>
              </mat-expansion-panel>
    
            </mat-accordion>
          </div>
        </div>
      </div>
      <div class="list-jobs">
        <ul>
          <li class="job-item" *ngFor="let item of jobs" [routerLink]="[item.id]">
              <div class="job-item-text-left">
                  <span>{{item.directionJobOffer}}</span>
                  <h2>{{item.titleJobOffer}}</h2>
                  <span>{{item.typeJobOffer}}</span>
              </div>
              <div class="job-item-text-right">
                  <span></span>
                  <h2>{{item.aceppt ? 'APROBADO' : 'PENDIENTE'}}</h2>
                  <span>Publicado el: {{item.final_date_offerJobOffer}}</span>
              </div>
          </li>
      </ul>
      </div>
    </div>
    
</app-main-nav-postulant>
    